<!-- <app-login></app-login> -->
 <app-home></app-home>
 <router-outlet></router-outlet> 
<!-- <app-metroregister></app-metroregister> -->
<!-- <app-metroticket></app-metroticket> -->
<!-- <app-hotelslist></app-hotelslist> -->
<!-- <app-hoteldesc></app-hoteldesc> -->
<!-- <app-forgetpassword></app-forgetpassword> -->
<!--<app-form></app-form>-->
