<body>
    <div class="container">
        <h2>Hi {{name}}</h2>
        <p>Your reservation request for {{this.hoteldata.hotelName}}, Hyderabad has been confirmed. Please review the
            details of your booking.</p>
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="padding: 20px; font-weight: 700; font-size: 25px;">{{this.hoteldata.hotelName}}<br>
                    <p style="padding-top: 0px; font-weight: 700; font-size: 12px;">Booking Confirmation Code: ABC123
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <img [src]="hoteldata.image" alt="Hotel Image" />
                </td>
            </tr>
            <tr>
                <td style="padding: 20px;">

                    <p>{{ formData.numDays }} Standard Rooms - {{ formData.numPersons }} Guests</p>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px;">
                    Arrive: {{ formData.fromDate }}<br>
                    Depart: {{ formData.toDate }}
                </td>
            </tr>
            <tr>
                <td style="padding: 5px 20px 0px 20px;">{{this.hoteldata.address}}, Hyderabad</td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%;">
                        <tr>
                            <td style="padding: 20px;">Total Payable</td>
                        </tr>
                        <tr>
                            <td style="padding: 20px;">{{this.hoteldata.roomprice}}2 Rooms x 3 Nights </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px 20px 10px 20px;">Grand Total </td>
                            <td>{{this.totalprice}}</td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr>
                <button type="button" class="btn btn-primary launch" (click)="book()">Make payment</button>
            </tr>
        </table>

    </div>
    <ng-template #template>
        <div class="modal-body">
          <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Payment Options</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="tabs mt-3">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="visa-tab" data-toggle="tab" href="#visa" role="tab" aria-controls="visa"
                          aria-selected="true"> <img src="https://i.imgur.com/sB4jftM.png" width="80"> </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="paypal-tab" data-toggle="tab" href="#paypal" role="tab" aria-controls="paypal"
                          aria-selected="false"> <img src="https://i.imgur.com/yK7EDD1.png" width="80"> </a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="visa" role="tabpanel" aria-labelledby="visa-tab">
                        <div class="mt-4 mx-4">
                          <div class="text-center">
                            <h5>Credit card</h5>
                          </div>
                          <div class="form mt-3">
                            <div class="inputbox">
                              <input type="text" name="name" class="form-control" required="required">
                              <span>Cardholder Name</span>
                            </div>
                            <div class="inputbox">
                              <input type="text" name="name" min="1" max="999" class="form-control" required="required">
                              <span>Card Number</span>
                              <i class="fa fa-eye"></i>
                            </div>
                            <div class="d-flex flex-row">
                              <div class="inputbox">
                                <input type="text" name="name" min="1" max="999" class="form-control" required="required">
                                <span>Expiration Date</span>
                              </div>
                              <div class="inputbox">
                                <input type="text" name="name" min="1" max="999" class="form-control" required="required">
                                <span>CVV</span>
                              </div>
                            </div>
                            <div class="px-5 pay">
                              <button class="btn btn-success btn-block">Add card</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="paypal" role="tabpanel" aria-labelledby="paypal-tab">
                        <div class="px-5 mt-5">
                          <div class="inputbox">
                            <input type="text" name="name" class="form-control" required="required">
                            <span>Paypal Email Address</span>
                          </div>
                          <div class="pay px-5">
                            <button class="btn btn-primary btn-block">Add paypal</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

</body>