<div class="sticky-top">
  <nav class="navbar navbar-expand-md navbar-light  p-2" id="mainNav" style="background-color: aliceblue;">
    <div class="container">
      <a class="flex-fill" href="/"><strong class="brandLogo">SMART CITY</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="flex-fill" id="searchWrap">
        <div class="position-relative w-100">
          <form action="/search-website" method="GET">
            <!-- <div class="d-flex">
              <input type="text" class="rounded3 form-control" name="search_website" placeholder="Search Website">
              <button class="btn btn-primary rounded-3">Search</button>
            </div> -->
          </form>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto" itemscope="" itemtype="//www.schema.org/SiteNavigationElement">
          <!--
        <li class="nav-item" itemprop="name">
          <a itemprop="url" class="nav-link mx-2 " aria-current="page" href="/">Home</a>
        </li>
        -->
          <li class="nav-item" itemprop="name">
            <a itemprop="url" class="nav-link mx-2 " href="/html">Contact</a>
          </li>
          <li class="nav-item" itemprop="name">
            <p itemprop="url" class="nav-link mx-2 " *ngIf="!authService.getLoginStatus()">profile</p>
            <p itemprop="url" class="nav-link mx-2 " *ngIf="authService.getLoginStatus()">{{this.authService.username}}</p>
            
          </li>
          <!-- <li class="nav-item" itemprop="name">
            <strong itemprop="url" class="nav-link mx-2 ">SAI NIKHIL</strong>
          </li> -->

          <li class="nav-item" itemprop="name">
            <button *ngIf="!authService.getLoginStatus()" class="mt-2 mx-2 btn btn-primary rounded-5" routerLink="login">LOGIN</button>
            <button *ngIf="authService.getLoginStatus()" class="mt-2 mx-2 btn btn-danger rounded-5" (click)="logout()">LOGOUT</button>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- second navbar -->



  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <!-- <a class="navbar-brand d-md-none d-xs-block py-3" href="#">
        <img src="/static_files/images/logos/beer_white.png" height="40" alt="Company Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link mx-2" aria-current="page" routerLink="myhome">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="metro">METRO TICKETS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="hotellist">HOTELS</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="movies">MOVIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="metroticket">RESTAURANTS</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link mx-2 dropdown-toggle" id="navbarDropdownMenuLink" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MY BOOKINGS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item">Metro Bookings</a>
                <a class="dropdown-item">Hotel Bookings</a>
                <a class="dropdown-item" >Movie Bookings</a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>

