
a {
	font-size:14px;
	font-weight:700
  }
  .superNav {
	font-size:13px;
  }
  .form-control {
	outline:none !important;
	box-shadow: none !important;
  }
  @media screen and (max-width:540px){
	.centerOnMobile {
	  text-align:center
	}
  }

  @media screen and (min-width:777px){
	.nav-link {
	  padding:18px 0;
	  min-width:120px;
	}
	.navbar {
	  padding: 0
	}
  }