.card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.card-header {
  background-color: #eee;
  padding: 10px;
}

.card-title {
  text-align: center;
}

.card-body {
  padding: 10px;
}

.table {
  width: 100%;
}

.table th,
.table td {
  padding: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}
