<div class="card">
  <div class="card-header">
    <h3 class="card-title">Train Ticket Booking</h3>
  </div>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>From Station</th>
         <td>{{this.mticket.fromStation}}</td>
       <!-- <td><input type="text" class="form-control" id="fromStation"></td>-->
      </tr>
      <tr>
        <th>To Station</th>
       <!--- <td><input type="text" class="form-control" id="toStation"></td>-->
       <td>{{this.mticket.toStation}}</td>
      </tr>
      <tr>
        <th>Number of Tickets</th>
        <!--<td><input type="number" class="form-control" id="numberOfTickets"></td>-->
        <td>{{this.number_of_ticket}}</td>
      </tr>
      <tr>
        <th>Price of each Ticket</th>
        <td>{{this.mticket.fare}}</td>
      </tr>
      <tr>
        <th>Total Price</th>
        <td>{{this.tprice}}</td>
      </tr>
      <tr>
      <td><button type="button" class="btn btn-primary" id="bookNow" (click)="book()">Book Now</button></td>
      </tr>
    </table>
  </div>
</div>