<body>
    <h1>Payment Options</h1>
    <p>Thank you for your booking! Please choose a payment method below:</p>

    <div class="payment-options">
        <div class="option">
            <img src="https://th.bing.com/th/id/OIP.ULyyx56kCC6NRhYboKVTGwHaE8?pid=ImgDet&rs=1" alt="Credit Card">
            <br>
            <a href="#">Pay with Credit Card</a>
        </div>

        <div class="option">
            <img src="https://download.logo.wine/logo/PhonePe/PhonePe-Logo.wine.png" alt="PhonePe">
            <br>
            <a href="#">Pay with PhonePay</a>
        </div>

        <div class="option">
            <img src="https://static.vecteezy.com/system/resources/previews/017/221/853/original/google-pay-logo-transparent-free-png.png" width="100px" height="100px" alt="GPay">
            <br>
            <a href="#">Pay with GPay</a>
        </div>
    </div>

    <!-- Center the button -->
    <div style="text-align: center;">
        <br>
        <button type="button" class="btn btn-primary" id="payNow" (click)="pay()">Pay Now</button>
    </div>
</body>