.payment-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.option {
    width: 200px;
    text-align: center;
}

.option img {
    width: 100px;
    height: 100px;
}

.option h3 {
    margin-top: 20px;
}

.option p {
    margin-top: 10px;
}

.option a {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}
