<div class="password-form">
  <h2>Forgot Password</h2>

  <!-- Step 1: Enter Email -->
  <div class="form-group">
      <label for="email">Enter your Email:</label>
      <input type="email" id="email" name="email" placeholder="example@example.com" [(ngModel)]="email">
      <button (click)="sendOTP()">Send OTP</button>
  </div>

  <!-- Step 2: Enter OTP -->
  <div class="form-group">
      <label for="otp">Enter OTP:</label>
      <input type="text" id="otp" name="otp" placeholder="Enter the OTP" [(ngModel)]="otp">
      <button (click)="verifyOTP()">Verify OTP</button>
  </div>
</div>