.pic-ctn {
	position: relative;
	width: 100%;
	height: 200px;
  
  }
  
  .pic-ctn > img {
	position: absolute;
	top: 0;
	/* left: calc(50% - 100px); */
	opacity: 0;
	animation: display 10s infinite;
  }
  
  @keyframes display {
	0% {
	  transform: translateX(200px);
	  opacity: 0;
	}
	10% {
	  transform: translateX(0);
	  opacity: 1;
	}
	20% {
	  transform: translateX(0);
	  opacity: 1;
	}
	30% {
	  transform: translateX(-200px);
	  opacity: 0;
	}
	100% {
	  transform: translateX(-200px);
	  opacity: 0;
	}
  }
  
  img:nth-child(2) {
	animation-delay: 2s;
  }
  img:nth-child(3) {
	animation-delay: 4s;
  }
  img:nth-child(4) {
	animation-delay: 6s;
  }
  /* img:nth-child(5) {
	animation-delay: 8s;
  } */
  


  body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
	perspective: 1000px;
    
  }
  
  .card {
	width: 300px;
	height: 400px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.8s;

  }
  
  .card-inner {
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	position: relative;
  }
  
  .card-front,
  .card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
  }

  .card-front{
	height:400px;
	width: 300px;
  }
  
  .card-back {
	background-color: white;
	transform: rotateY(180deg);
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .card:hover {
	transform: rotateY(180deg);
  }
  
.card-body{
	display: flex;
    margin-top: 350px;
    margin-left: 100px;
    border-radius: 5;
}
.card-image{
    height: 400px;
    width: 300px;
}