<div class="pic-ctn">
    <img *ngFor="let image of images; let i = index" [src]="image.url" alt="" class="pic" [style.animation-delay]="image.delay" style="width: 100%; height: 500px;">
  </div>

  <div class="card-body">
<div class="card">
  <div class="card-inner">
    <div class="card-front">
      <img src="https://plus.unsplash.com/premium_photo-1684923604860-64e661f2ff72?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y2luZW1hfGVufDB8fDB8fHww"  alt="Placeholder Image" class="card-image">
    </div>
    <div class="card-back">
      <h1 routerLink="movies">MOVIES</h1>
    </div>
  </div>
</div>&nbsp;&nbsp;
<div class="card">
  <div class="card-inner">
    <div class="card-front">
      <img src="https://c0.wallpaperflare.com/preview/303/224/922/interior-tech-technology-coffee.jpg" alt="Placeholder Image" class="card-image">
    </div>
    <div class="card-back">
      <p>Restaurants</p>
    </div>
  </div>
</div> &nbsp;&nbsp;

<div class="card">
  <div class="card-inner">
    <div class="card-front">
      <img src="https://media.istockphoto.com/id/1293009340/photo/hotel-sign-on-building-facade-sunset-background.jpg?s=612x612&w=0&k=20&c=p9B4HMJlDMFmmLTXIuOyTYPLwIYQ4aIvcs-zpHOQ744=" alt="Placeholder Image" class="card-image">
    </div>
    <div class="card-back">
      <p>Hotels</p>
    </div>
  </div>
</div>&nbsp;&nbsp;
<div class="card">
  <div class="card-inner">
    <div class="card-front">
      <img src="https://i.pinimg.com/736x/c1/4f/54/c14f54daa9ca0d7b9a342bae49cf0660.jpg" alt="Placeholder Image" class="card-image">
    </div>
    <div class="card-back">
      <p>Metro</p>
    </div>
  </div>
</div>
</div>