<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  
  </head>
  <div class="pic-ctn">
    <img *ngFor="let image of images; let i = index" [src]="image.url" alt="" class="pic" [style.animation-delay]="image.delay" style="width: 100%; height: 500px;">
  </div>
 <div class="margin">
  <div *ngFor="let hotel of hotels">
  <div class="main">
    <div class="main-box">
        <div>
            <img [src]="hotel.image" alt="room">
        </div>
        <div>
            <h3 class="listingHotelDescription__hotelName">{{hotel.hotelName}}</h3>
            <span class="d-body-lg">{{hotel.address}}, Hyderabad</span>
            <div class="amenityWrapper">
                <div class="amenityWrapper__amenity">
                    <i class="bi bi-wifi amenityWrapper__icon"></i>
                    <span class="d-body-sm d-textEllipsss">wifi</span>
                </div>
                <div class="amenityWrapper__amenity">
                    <i class="fas fa-elevator amenityWrapper__icon"></i>
                    <span class="d-body-sm d-textEllipsss">Elevator</span>
                </div>
            </div>
            <div>
                <span class="desc">
                    {{hotel.description}}
                </span>
            </div>
            <div>
                <div class="listingPrice__numbers">
                    <span class="listingPrice__finalPrice">₹{{hotel.roomprice}}</span>
                </div>
                <button class="c-1k6asfw d-greenButton"  type="button" (click)="booknow(hotel)"><span>Book Now</span></button>
            </div>
        </div>
    </div>
  </div>
  </div>
  </div>
