.main-box{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  

}
img{
  width:540px;
  height: 300px;
  margin-right: 30px;
}
.icons{
  display: flex;

}
.wifi{
  margin-right: 30px;
}
.amenityWrapper__amenity {
  display: flex;
  align-items: center;
  max-width: 25%;
  padding-right: 24px;
}
.amenityWrapper {
  display: flex;
}
.amenityWrapper__icon {
  margin-right: 5px;
  width: 22px;
  height: 22px;
}
.d-body-sm {
  font-size: 18px;
  line-height: 35px;
}

.d-body-lg, .d-body-sm {
  color: #222;
  font-weight: 400;
}
.d-textEllipsis {
  white-space: nowrap;
}
.d-line--clamp-7, .d-textEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}


.listingHotelDescription__hotelName {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  color: #222;
}

.d-body-lg, .d-body-sm {
  color: #222;
  font-weight: 400;
}

.d-body-lg {
  font-size: 20px;
  line-height: 40px;
}
.desc{
  font-size: 18px;
  color: #222;
  font-weight: 500;
}

.listingPrice__numbers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 60px;
}
.listingPrice__finalPrice {
  margin-right: 8px;
  font-size: 24px;
  font-weight: 700;
  color: #ee2a24;
}



.c-1k6asfw {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 10px auto;
  border-radius: 2px;
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  font-family: Inter;
}
.d-greenButton, .d-whiteButton {
  font-weight: 700!important;
  font-size: 16px!important;
  line-height: 1.25em;
  text-align: center;
  outline: none;
  padding: 8px 16px!important;
  width: auto!important;
  margin: 0!important;
  align-self: flex-end;
  white-space: nowrap;
}
.d-greenButton {
  background-color: #1ab64f;
  color: #fff;
  border-radius: 2px!important;
  border: 1px solid #1ab64f;
}
.pic-ctn {
  position: relative;
  width: 100%;
  height: 200px;
  
  }
  
  .pic-ctn > img {
  position: absolute;
  top: 0;
  /* left: calc(50% - 100px); */
  opacity: 0;
  animation: display 10s infinite;
  }
  
  @keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
  }
  
  img:nth-child(2) {
  animation-delay: 2s;
  }
  img:nth-child(3) {
  animation-delay: 4s;
  }
  img:nth-child(4) {
  animation-delay: 6s;
  }
  img:nth-child(5) {
  animation-delay: 8s;
  }
  .margin{
    margin-top: 350px;
  }