body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-image {
    flex: 1;
    max-width: 300px;
    overflow: hidden;
}

.movie-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.movie-details {
    flex: 1;
    padding: 20px;
}

h2, p {
    margin: 0;
}

.ticket-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

select {
    width: 60%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content
}

button:hover {
    background-color: #45a049;
}