
<body>
    <div class="container">
        <div class="movie-image">
            <img [src]="movie.cardImage" alt="Movie Image">
        </div>
        <div class="movie-details">
            <h2>{{movie.movieTitle}}</h2>
            <h2>{{theatre.theatreName}}</h2>
            <p>Available Tickets: {{show[0].availableSeats}}</p>
            <p>Ticket Price: {{show[0].ticketPrice}}</p>

            <div class="ticket-form">
                <label for="numTickets">Number of Tickets:</label>
                <select id="numTickets" name="numTickets" [(ngModel)]="numberofmovietickets">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select><br>
                <button type="submit" (click)="book()">Book Tickets</button>
            </div>
        </div>
    </div>
</body>