<head>
    <title>Salaar: Cease Fire - Part 1</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.google.com/share?selection.family=Roboto:wght@400;500;700;900">
   <link rel="stylesheet" href="moviedes.component.css">
</head>
<body >
    
    <div class="main" style="background-image: url('{{movie.backgroundImage}}'); background-repeat: no-repeat; background-size: cover;
    background-position: center; width: 100%;">
        <div class="image">
            <img [src]="movie.cardImage" height="400px" width="250px" style="border-radius: 8px;"><br>
        </div>
        <div class="middle">
            <div>
                <span class="title">
                    {{movie.movieTitle}}
                </span>
            </div>
            <div class="thumb">
                <i class="fa fa-thumbs-up" style="color:green; font-size: 25px;"></i>
                <span class="rating"><strong style="font-size: 20px; color: white;">434.5K</strong> &nbsp;are interested</span>
            </div>
            <div class="middle-two">
                <div class="middle-box">
                    <div>
                        <span style="font-family: sans-serif; font-size: 18px;"><strong>{{movie.movieReleaseDate}}</strong></span>
                    </div>
                    <div>
                        <span style=" font-family: sans-serif; font-size: 13px;">Mark interested to know when bookings open</span>
                    </div>
                </div>
                <div>
                    <button class="button">I'am interested</button>
                </div>
            </div>
            <div class="dimlan">
                <span class="dim">2D</span> &nbsp;
                <span class="lan">Telugu, Malayalam, Tamil, Hindi, Kannada</span>
            </div>
                <div class="type">
                    <span>{{movie.movieRunTime}}</span>&nbsp;
                    <span>Action,Thriller</span>&nbsp;
                    <span>UA</span>
                </div>
             <div>
                <button class="btk">Book Tickets</button>
            </div>
        </div>
        <div class="share">
            <div>
                <i class="fa fa-share-alt" style="color:white; font-size: 40px;"></i>
            </div>
            <div>
                <span class="share-2"> &nbsp;Share</span>
            </div>
        </div>
    </div>

 </body>   
 <h1 class="heading">AVAILABLE THEATRES</h1>
 <div class="main-body" *ngFor="let theatre of theatres">

    <div class="theater-info">
        <h4 class="theater-name">{{theatre.theatreName}},{{theatre.theatreAddress}}</h4>
        <div class="show-timings">
            <button class="show-button" (click)="show1(theatre)">10:00 AM</button>
            <button class="show-button" (click)="show2(theatre)">3:00 PM</button>
            <button class="show-button" (click)="show3(theatre)">7:30 PM</button>
            <button class="show-button" (click)="show4(theatre)">7:30 PM</button>
            <!-- Add more show timings as needed -->
        </div>
    </div>
</div>
