.card {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-items:normal;
margin-bottom: 15px;
} 


.main {
  display: flex;
}
.image {
  padding-top: 30px;
  padding-left: 150px;
  padding-bottom: 20px;
}
.middle {
  display:flex;
  flex-direction: column;
  margin-top: 100px;
  padding-left: 35px;
}
.thumb {
  margin-top: 25px;
}
.middle-two {
  display: flex;
  border: 1px solid;
  border-color: white;
  padding:7px 14px 7px 14px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
}
.middle-box {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}
.button {
  background-color: #f2f5f9;
  border: none;
  padding-inline-start: 18px;
  padding-inline-end: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.rating {
  font-family: sans-serif;
  color: white;
}
.dim {
  background-color: #E5E5E5;
  padding: 4px;
  font-family: sans-serif;
  border-radius: 3px;
}
.lan {
  background-color: #E5E5E5;
  padding: 4px;
  font-family: sans-serif;
  border-radius: 3px;
}
.type {
  font-family: sans-serif;
  color: white;
}
.dimlan {
  margin-bottom: 23px;
}
.share {
  display: flex;
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  padding-left: 300px;
  padding-top: 60px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.btk{
  background-color: lightcoral;
  border: none;
  border-radius: 5px;
  padding-top: 10px; 
  padding-bottom: 10px;
  padding-inline-start: 18px;
  padding-inline-end: 18px;
  margin-top: 10px;
} 
.main-body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
  }
  
  .theater-info {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  .heading{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
  }
  
  .theater-name {
    margin-bottom: 20px;
  }
  
  .show-timings {
    display: flex;
  }
  
  .show-button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .show-button:hover {
    background-color: #45a049;
  }