
<head>
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form  #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
                    <div class="field input-field">
                        <input type="email" name="emailId"  #emailId="ngModel"   ngModel required minlength="2" maxlength="20" placeholder="Email" class="input">
                        <div style="color:red;" *ngIf="emailId.errors?.['required'] && emailId.touched">Enter Email-Id</div>
                        <div style="color:red;" *ngIf="emailId.errors?.['minlength'] && emailId.touched">Provide atleast 2 character for Email-Id</div>
                    </div>

                    <div class="field input-field">
                        <input type="password" name="password" #password="ngModel"  ngModel required minlength="8" maxlength="20" placeholder="Password" class="password">
                        <i class="bx bx-hide eye-icon"></i>
                        <div style="color:red;" *ngIf="password.errors?.['required'] && password.touched">Enter Password</div>
                        <div style="color:red;" *ngIf="password.errors?.['minlength'] && password.touched">Provide atleast 2 character for Password</div>
                    </div>

                    <div class="form-link">
                        <a routerLink="/forgetpassword" class="forgot-pass">Forgot password?</a>
                    </div>

                    <div class="field button-field">
                        <button  [disabled]="!loginForm.valid">Login</button>
                    </div>
                </form>
                <div class="form-link">
                    <span>Don't have an account? <a routerLink="/signup">Signup</a></span>
                </div>
            </div>
        </div>
    </section>
</body>