<div class="pic-ctn">
  <img *ngFor="let image of images; let i = index" [src]="image.url" alt="" class="pic"
    [style.animation-delay]="image.delay" style="width: 100%; height: 500px;">
</div>

<div class="rec">
  <h1>Recommended Movies</h1>
</div>
<br><br>
<div class="container">
  <div class="row">
<div class="card-body col-md-2" *ngFor="let movie of movies" style="margin: 10px;">
    <div class="card">
      <a (click)="selectMovie(movie)">
        <img [src]="movie.cardImage" alt="Example Image" width="300" height="400">
      </a>
    </div> &nbsp;&nbsp;
</div>
</div>
</div>