.pic-ctn {
  position: relative;
  width: 100%;
  height: 200px;

}


.pic-ctn > img {
  position: absolute;
  top: 0;
  /* left: calc(50% - 100px); */
  opacity: 0;
  animation: display 10s infinite;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

.rec{
  margin-top: 350px;
  margin-left: 150px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin-top: none;
}

.card {
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;

}

.card:hover{
  transform: scale(1.05);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

