<body>

  <div class="container mt-30">
    <!-- <img src="../assets/images/metro.jpg"> -->
    <h2>Metro Ticket Booking</h2>
    <form (ngSubmit)="bookTicket(ticketForm.value)" #ticketForm="ngForm">
      <div class="form-group">
        <label for="from">From Station:</label>
        <select class="form-control" name="fromStation" #fromStation="ngModel" ngModel required>
          <option value="">Select From Station</option>
          <option value="{{metro.fromStation}}" *ngFor="let metro of metros">{{metro.fromStation}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="to">To Station:</label>
        <select class="form-control" name="toStation" #toStation="ngModel" ngModel required>
          <option value="">Select to Station</option>
          <option value="{{metro.toStation}}" *ngFor="let metro of metros">{{metro.toStation}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" class="form-control" id="numTickets" required [(ngModel)]="noOfTickets" name="numTickets"
          min="1">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!ticketForm.valid">Book Ticket</button>
    </form>
  </div>


</body>