body {
  font-family: Arial, sans-serif;
  background-image: url('src/assets/images/metro2.jpeg');
  background-size: cover; /* or 'contain' depending on your preference */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* width: 100%; */
  height: 85vh;
}


.container {
max-width: 400px;
margin: 0 auto; 
padding: 30px;
text-align: center;
/* background-color: hsl(306, 12%, 66%); */
background-color: silver;
border-radius: 5px;
margin-left: 900px;
}


.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #0074a0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00587a;
}