<div class="pic-ctn">
    <img *ngFor="let image of images; let i = index" [src]="image.url" alt="" class="pic" [style.animation-delay]="image.delay" style="width: 100%; height: 500px;">
  </div>
<div class="margin">
<div class="c-1irv0cp">
    <div class="c-1uka13e">
        <div class="c-1r1ps0e" id="1202">
            <div name="1202">
                <div>
                    <div class="c-1qdyvok">
                        <div class="c-120gsus">
                            <h1 class="c-1wj1luj" itemprop="name">{{this.Hotel.hotelName}}
                            </h1>
                            <div class="c-zo3nqe">
                                <p itemprop="address" itemscope="true" itemtype="http://schema.org/PostalAddress"><span
                                        itemprop="streetAddress">{{this.Hotel.hoteladdress}}
                                                   </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div><span itemprop="starRating" itemscope="true" itemtype="http://schema.org/Rating">
                                    <meta itemprop="ratingValue" content="3.7">
                                </span>
                                <div class="c-1ktt90" itemprop="aggregateRating" itemscope="true"
                                    itemtype="http://schema.org/AggregateRating">
                                    <meta itemprop="reviewCount" content="1400">
                                    <meta itemprop="bestRating" content="5">
                                    <meta itemprop="ratingValue" content="3.7">
                                    <div class="c-v9oteh">3.7 <span lazyload="true" class="c-10oakp6"><svg
                                                viewBox="0 0 9 10" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M7.25 9.5a.238.238 0 01-.12-.032L4.5 7.948l-2.63 1.52a.238.238 0 01-.265-.017.271.271 0 01-.102-.26l.48-3.042-1.91-2.021a.276.276 0 01-.061-.268.255.255 0 01.197-.18l2.874-.508L4.276.646A.25.25 0 014.5.5c.094 0 .181.057.223.146l1.194 2.526 2.874.508a.255.255 0 01.197.18.275.275 0 01-.061.268l-1.91 2.021.48 3.042c.015.1-.024.201-.102.26a.242.242 0 01-.145.049z">
                                                </path>
                                            </svg></span></div>
                                    <div class="c-1qcdse5">1400 <span>Ratings</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="c-1x8xkzi"><span class="c-1nnk08h"><span class="c-nzfdkr"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11">
                                        <path fill="none" stroke="#F49242" stroke-width="1.6"
                                            d="M6.498 9.957l.431-.362c3.13-2.617 4.122-3.558 4.792-4.703.324-.555.479-1.07.479-1.595C12.2 1.907 10.999.8 9.425.8c-.891 0-1.77.38-2.337.996l-.588.636-.588-.636C5.344 1.18 4.466.8 3.575.8 2.001.8.8 1.908.8 3.297c0 .523.153 1.036.475 1.588C1.943 6.031 2.93 6.968 6.07 9.6l.428.357z">
                                        </path>
                                    </svg></span> Managed by OYO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-1r1ps0e" id="1203">
            <div name="1203">
                <div class="">
                    <div class="c-gcrtsc">Description</div>
                    <div itemprop="description">
                        <div class="c-13rpnbh">{{this.Hotel.description}}</div>
                        <div class="c-1aj2z5h"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-1r1ps0e" id="1204">
            <div name="1204">
                <div>
                    <div class="c-gcrtsc">Amenities</div>
                    <div class="c-2cojj">
                        <div class="c-riklip" itemprop="amenityFeature" itemscope="true"
                            itemtype="http://schema.org/LocationFeatureSpecification"><span lazyload="true"
                                class="c-e9mmd6"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="17"
                                    viewBox="0 0 22 17">
                                    <path fill="black" fill-rule="evenodd"
                                        d="M20.172 0H1.832C.823 0 0 .792 0 1.767v6.422c0 .971.823 1.763 1.832 1.763h18.336C21.177 9.952 22 9.16 22 8.189V1.767C22.004.792 21.181 0 20.172 0zm.712 8.277a.61.61 0 0 1-.617.604H1.737a.61.61 0 0 1-.617-.604V1.683a.61.61 0 0 1 .617-.604h18.526a.61.61 0 0 1 .617.604v6.594h.004zm-2.315-1.85H3.435c-.338 0-.61.218-.61.49 0 .27.272.49.61.49h15.13c.338 0 .61-.22.61-.49 0-.272-.272-.49-.606-.49zm-4.965-3.001H8.049c-.124 0-.224.219-.224.49 0 .27.1.49.224.49h5.553c.124 0 .224-.22.224-.49 0-.271-.1-.49-.222-.49zm-9.03 8.996a3.31 3.31 0 0 0-.291-.559c-.148-.213-.08-.495.154-.63a.529.529 0 0 1 .69.14c.1.145.242.392.38.72.488 1.153.55 2.383-.103 3.545a4.304 4.304 0 0 1-.666.885.534.534 0 0 1-.706.04.43.43 0 0 1-.044-.645 3.39 3.39 0 0 0 .526-.697c.503-.896.454-1.866.06-2.8zm3.599 0a3.31 3.31 0 0 0-.292-.559c-.148-.213-.079-.495.155-.63a.529.529 0 0 1 .69.14c.1.145.241.392.38.72.487 1.153.55 2.383-.103 3.545a4.304 4.304 0 0 1-.667.885.534.534 0 0 1-.706.04.43.43 0 0 1-.043-.645 3.39 3.39 0 0 0 .526-.697c.503-.896.454-1.866.06-2.8zm9.002 0c-.394.933-.443 1.903.06 2.8.135.24.309.472.525.696a.43.43 0 0 1-.043.645.534.534 0 0 1-.706-.04 4.304 4.304 0 0 1-.666-.885c-.653-1.162-.59-2.392-.104-3.545.14-.328.28-.575.38-.72a.529.529 0 0 1 .69-.14c.234.135.303.417.155.63a3.31 3.31 0 0 0-.291.559zm-3.603 0c-.395.933-.443 1.903.06 2.8.135.24.309.472.525.696a.43.43 0 0 1-.043.645.534.534 0 0 1-.706-.04 4.304 4.304 0 0 1-.666-.885c-.653-1.162-.59-2.392-.104-3.545.14-.328.28-.575.38-.72a.529.529 0 0 1 .69-.14c.234.135.303.417.155.63a3.31 3.31 0 0 0-.291.559z">
                                    </path>
                                </svg></span>
                            <div class="c-12w6zty" itemprop="name">AC</div>
                            <meta itemprop="value" content="True">
                        </div>
                        <div class="c-riklip" itemprop="amenityFeature" itemscope="true"
                            itemtype="http://schema.org/LocationFeatureSpecification"><span lazyload="true"
                                class="c-e9mmd6"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="18"
                                    viewBox="0 0 22 18">
                                    <path fill="black" fill-rule="evenodd"
                                        d="M18.67 9.038a10.705 10.705 0 0 0-15.388 0 .585.585 0 0 1-.86 0 .617.617 0 0 1 0-.88 11.917 11.917 0 0 1 17.108 0 .617.617 0 0 1 0 .88c-.099.125-.246.176-.418.176a.623.623 0 0 1-.443-.176zm-2.926 3.293a6.437 6.437 0 0 0-4.621-1.96c-1.745 0-3.368.703-4.621 1.96a.585.585 0 0 1-.86 0 .617.617 0 0 1 0-.88 7.65 7.65 0 0 1 5.48-2.313c2.066 0 4.008.83 5.482 2.313a.617.617 0 0 1 0 .88c-.098.126-.27.176-.417.176a.623.623 0 0 1-.443-.176zm5.187-6.888a13.859 13.859 0 0 0-19.886 0 .585.585 0 0 1-.86 0 .617.617 0 0 1 0-.88c5.948-6.084 15.657-6.084 21.63 0a.617.617 0 0 1-.442 1.056.623.623 0 0 1-.442-.176zM9.796 17.233a2.128 2.128 0 0 1 0-2.941c.762-.78 2.113-.78 2.876 0a2.128 2.128 0 0 1 0 2.941 2.006 2.006 0 0 1-1.426.604c-.541 0-1.057-.227-1.45-.604zm.86-2.061a.848.848 0 0 0 0 1.181c.32.327.86.327 1.155 0a.848.848 0 0 0 0-1.181.705.705 0 0 0-.565-.252.79.79 0 0 0-.59.252z">
                                    </path>
                                </svg></span>
                            <div class="c-12w6zty" itemprop="name">Free Wifi</div>
                            <meta itemprop="value" content="True">
                        </div>
                        <div class="c-riklip" itemprop="amenityFeature" itemscope="true"
                            itemtype="http://schema.org/LocationFeatureSpecification"><span lazyload="true"
                                class="c-e9mmd6"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="21"
                                    viewBox="0 0 22 21">
                                    <path fill="black" fill-rule="evenodd"
                                        d="M20.62 0H1.38C.619 0 0 .619 0 1.38V13.76c0 .761.619 1.38 1.38 1.38h9.131v1.97c-1.547.05-2.993.334-4.113.814-1.369.587-2.122 1.417-2.122 2.339 0 .27.219.489.489.489h12.47c.27 0 .49-.219.49-.489 0-.922-.755-1.752-2.123-2.339-1.12-.48-2.566-.764-4.113-.813v-1.97h9.131c.761 0 1.38-.62 1.38-1.38V1.38C22 .619 21.38 0 20.62 0zm-4.049 19.775H5.429c.238-.34.708-.674 1.354-.951 1.119-.48 2.616-.743 4.217-.743 1.6 0 3.098.264 4.217.743.646.277 1.116.612 1.354.951zm4.451-6.014c0 .222-.18.402-.402.402H1.38a.402.402 0 0 1-.402-.402V1.38c0-.222.18-.402.402-.402h19.24c.222 0 .402.18.402.402V13.76zM19.284 2.227H2.716a.489.489 0 0 0-.489.489v9.71c0 .27.219.488.489.488h16.568c.27 0 .49-.219.49-.489v-9.71a.489.489 0 0 0-.49-.488zm-.489 9.71H3.205V3.204h15.59v8.731z">
                                    </path>
                                </svg></span>
                            <div class="c-12w6zty" itemprop="name">TV</div>
                            <meta itemprop="value" content="True">
                        </div>
                        <div class="c-riklip" itemprop="amenityFeature" itemscope="true"
                            itemtype="http://schema.org/LocationFeatureSpecification"><span lazyload="true"
                                class="c-e9mmd6"><svg xmlns="http://www.w3.org/2000/svg" id="geyser"
                                    viewBox="0 0 21 21">
                                    <path
                                        d="M20.282 2.77L17.56 18.416C17.312 19.85 15.944 21 14.49 21H5.83c-1.454 0-2.82-1.15-3.07-2.583L.04 2.767C-.222 1.264.84 0 2.368 0h15.585c1.527 0 2.59 1.264 2.33 2.77zM14.49 19.913c.926 0 1.842-.77 2-1.683l2.722-15.647c.146-.84-.406-1.497-1.26-1.497H2.37c-.854 0-1.405.656-1.26 1.497l2.723 15.65c.158.91 1.073 1.68 2 1.68h8.658zM4.986 8.892L4.12 1.595l1.08-.128.867 7.305c.343 3.326 2.322 6.61 4.25 6.61 1.847 0 3.553-3.144 3.942-6.618l.864-7.297 1.08.128-.866 7.294c-.445 3.965-2.404 7.578-5.022 7.578-2.663 0-4.936-3.772-5.33-7.576zm3.48 8.634a1.68 1.68 0 1 1-3.358 0 1.68 1.68 0 0 1 3.36 0zm-2.272 0a.593.593 0 1 0 1.187 0 .593.593 0 0 0-1.186 0zm9.02 0a1.698 1.698 0 1 1-3.396 0 1.698 1.698 0 0 1 3.396 0zm-2.31 0a.61.61 0 1 0 1.223 0 .61.61 0 0 0-1.222 0zM9.618 11.8V8.713h1.086V11.8H9.618zm-1.57-9.744h4.225v5.416H8.05V2.056zm3.682 1.087H8.592l.543-.544v4.33l-.543-.545h3.138l-.543.543V2.6l.543.544z">
                                    </path>
                                </svg></span>
                            <div class="c-12w6zty" itemprop="name">Geyser</div>
                            <meta itemprop="value" content="True">
                        </div>
                        <div class="c-riklip" itemprop="amenityFeature" itemscope="true"
                            itemtype="http://schema.org/LocationFeatureSpecification"><span lazyload="true"
                                class="c-e9mmd6"><svg xmlns="http://www.w3.org/2000/svg" id="power-back-up"
                                    viewBox="0 0 18 16">
                                    <path
                                        d="M17.55 2.175H16.5v-.337C16.5.9 15.75.15 14.812.15c-.937 0-1.687.75-1.687 1.688v.337h-8.25v-.337C4.875.9 4.125.15 3.187.15 2.25.15 1.5.9 1.5 1.838v.337H.45c-.225 0-.375.15-.375.375v12.075c0 .225.15.375.375.375h17.063c.224 0 .374-.15.374-.375V2.55c.038-.225-.15-.375-.337-.375zm-3.675-.337c0-.526.412-.938.938-.938.524 0 .937.412.937.937v.338h-1.875v-.337zm-11.588 0c0-.526.413-.938.938-.938.525 0 .937.412.937.937v.338H2.288v-.337zM17.175 14.25H.825V2.925h16.313V14.25h.037z">
                                    </path>
                                    <path
                                        d="M7.088 9h2.887l-3.112 3.113c-.376.375.187.862.524.524l3.75-3.75c.263-.262.113-.637-.225-.637H8.025l3.15-3.15c.337-.337-.188-.9-.525-.525l-3.825 3.75C6.6 8.588 6.75 9 7.088 9z">
                                    </path>
                                </svg></span>
                            <div class="c-12w6zty" itemprop="name">Power backup</div>
                            <meta itemprop="value" content="True">
                        </div>
                        <div class="c-riklip" itemprop="amenityFeature" itemscope="true"
                            itemtype="http://schema.org/LocationFeatureSpecification"><span lazyload="true"
                                class="c-e9mmd6"><svg xmlns="http://www.w3.org/2000/svg" id="lift-elevator"
                                    viewBox="0 0 22 22">
                                    <path
                                        d="M21.593 0H.407A.408.408 0 0 0 0 .407v21.186c0 .225.183.407.407.407h21.186a.407.407 0 0 0 .407-.407V.407A.407.407 0 0 0 21.593 0zM4.47 20.88V6h4.29v14.88H4.47zm5.51 0V6h4.29v14.88H9.98zm10.9 0h-5.536V5.46a.395.395 0 0 0-.395-.396H3.877a.396.396 0 0 0-.396.395v15.42H1.11V1.11h19.77v19.77zM7.74 3.554H11c.225 0 .407-.248.407-.555 0-.307-.182-.556-.407-.556H7.74c-.224 0-.407.25-.407.555 0 .306.183.554.408.554zm10.15 8.425l.59-.625.59.624a.443.443 0 0 0 .324.14.443.443 0 0 0 .323-.14.5.5 0 0 0 0-.684l-.913-.965a.44.44 0 0 0-.646 0l-.913.966a.5.5 0 0 0 0 .683.44.44 0 0 0 .646 0zm.268 2.846a.443.443 0 0 0 .323.14.443.443 0 0 0 .324-.14l.913-.965a.5.5 0 0 0 0-.682.44.44 0 0 0-.646 0l-.59.624-.59-.624a.44.44 0 0 0-.645 0 .5.5 0 0 0 0 .683l.913.966z">
                                    </path>
                                </svg></span>
                            <div class="c-12w6zty" itemprop="name">Elevator</div>
                            <meta itemprop="value" content="True">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    
    </div>
    <div class="c-1e7dqp1">
        <h5>Available Rooms {{this.Hotel.availaberooms}} </h5>
        <form>
            <div class="form-group">
                <label for="from_date">From Date:</label>
                <input type="date" id="from_date" name="from_date" [(ngModel)]=from_date required>
            </div>
            <div class="form-group">
                <label for="to_date">To Date:</label>
                <input type="date" id="to_date" name="to_date" [(ngModel)]=to_date required>
            </div>
            <div class="form-group">
                <label for="num_persons">Number of Persons:</label>
                <input type="number" id="num_persons" name="num_persons" [(ngModel)]=num_persons required>
            </div>
            <div class="form-group">
                <label for="num_days">Number of Days:</label>
                <input type="number" id="num_days" name="num_days" [(ngModel)]= num_days required>
            </div>
            
            <button type="button" class="btn btn-primary" id="bookNow" (click)="book()">Book Now</button>
    
        </form> 
    </div>
</div>
</div>