.c-1irv0cp {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.c-1uka13e {
    width: 60%;
    margin-right: 32px;
    max-width: 720px;
}

.c-1r1ps0e:first-of-type {
    margin-top: 24px;
}
.c-1r1ps0e {
    margin: 32px 0;
}
.c-1qdyvok {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.c-120gsus {
    margin-right: 32px;
}
.c-1wj1luj {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
}
.c-1ktt90 {
    height: auto;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.c-v9oteh {
    background: #b4da55;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 8px 0;
}

.c-10oakp6 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 15px;
    width: 15px;
}

.c-1qcdse5 {
    font-size: 12px;
    padding: 4px;
    text-align: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    word-break: break-word;
    white-space: nowrap;
    background: #f4f4f4;
}
.c-1dtnjt5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.c-um1zau {
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.c-1nt3nv3 {
    border-radius: 2px;
    font-size: 10px;
    font-weight: 600;
    padding: 8px 12px;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 !important;
    border: 0;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px #cecece;
    padding: 2px 8px;
    font-size: 12px;
    color: rgba(0,0,0,0.87);
    font-weight: 600;
    text-transform: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000000;
    padding: 6px 12px;
    height: 16px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.c-um1zau {
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.c-1jyfxzc {
    display: inline-block;
    border-radius: 2px;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    box-sizing: border-box;
    border: 1px solid #cecece;
    border: 1px solid #cecece;
}
.c-8sjad0 {
    background-color: #212121;
    display: inline-block;
    padding: 4px 0 4px 5px;
    white-space: nowrap;
    margin: 1px !important;
    border-radius: 2px;
    overflow: hidden;
    font-size: 0;
    line-height: 18px;
}
.c-ztdfbn {
    height: 14px;
    width: 22px;
    display: inline-block;
    padding-right: 0px;
    margin-right: 0px !important;
}
.c-1x8xkzi {
    border-radius: 4px;
    border: solid 1px #eee;
    background-color: #fff6ee;
    padding: 8px;
    display: inline-block;
    margin-top: 16px;
}
.c-1nnk08h {
    color: #f49242;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
}
.c-1nnk08h {
    color: #f49242;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.14;
}
.c-gcrtsc {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 18px;
}
.c-13rpnbh {
    line-height: 1.5;
    word-spacing: 2px;
    color: rgba(0,0,0,0.7);
    font-size: 14px;
}
.c-1aj2z5h {
    line-height: 1.5;
    word-spacing: 2px;
    color: rgba(0,0,0,0.7);
    font-size: 14px;
    display: none;
}
.c-1r1ps0e {
    margin: 32px 0;
}
.c-gcrtsc {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 18px;
}
.c-2cojj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.c-riklip {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 33%;
    margin-top: 18px;
}
.c-e9mmd6 {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;
    width: 20px;
}
.c-12w6zty {
    font-size: 14px;
    line-height: 1.71;
    margin-left: 10px;
}
.c-e9mmd6 svg {
    fill: rgb(0, 0, 0);
}

.c-e9mmd6 svg {
    height: 100%;
    width: 100%;
}
.c-zo3nqe{
    line-height: 40px;
}

.c-1e7dqp1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    min-width: 380px;
    right: 5%;
    top: 76px;
    margin-top: 24px;
    z-index: 20;
    max-width: 450px;
    background: #fff;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.margin
{
    margin-top:350px ;
}
.pic-ctn {
	position: relative;
	width: 100%;
	height: 200px;
  
  }
  
  .pic-ctn > img {
	position: absolute;
	top: 0;
	/* left: calc(50% - 100px); */
	opacity: 0;
	animation: display 10s infinite;
  }
  
  @keyframes display {
	0% {
	  transform: translateX(200px);
	  opacity: 0;
	}
	10% {
	  transform: translateX(0);
	  opacity: 1;
	}
	20% {
	  transform: translateX(0);
	  opacity: 1;
	}
	30% {
	  transform: translateX(-200px);
	  opacity: 0;
	}
	100% {
	  transform: translateX(-200px);
	  opacity: 0;
	}
  }
  
  img:nth-child(2) {
	animation-delay: 2s;
  }
  img:nth-child(3) {
	animation-delay: 4s;
  }
  img:nth-child(4) {
	animation-delay: 6s;
  }
  img:nth-child(5) {
	animation-delay: 8s;
  }