<head>
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Signup</header>
                <form>
                    <div class="field input-field">
                        <input type="text" name="custName" [(ngModel)]="customer.custName" placeholder="Name" class="input">
                    </div>
                    <div class="field input-field">
                        <input type="number" name="custPhone" [(ngModel)]="customer.custPhone" placeholder="Phone Number"  class="input">
                        <div *ngIf="!isValidPhoneNumber(customer.custPhone) && customer.custPhone !== ''">Invalid phone number</div>
                    </div>
                    <div class="field input-field">
                        <input type="email" name="custEmail" [(ngModel)]="customer.custEmail" placeholder="Email" class="input">
                        <div *ngIf="!isValidEmail(customer.custEmail) && customer.custEmail !== ''">Invalid email format</div>
                    </div>
                    <div class="field input-field">
                        <input type="password" name="custPassword" [(ngModel)]="customer.custPassword" placeholder="Password" class="password">
                        <i class="bx bx-hide eye-icon"></i>
                        <div *ngIf="!isValidPassword(customer.custPassword) && customer.custPassword !== ''">Invalid password format</div>
                        <div *ngIf="!isValidLength(customer.custPassword) && customer.custPassword !== ''">Password must have at least 8 characters</div>
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="Confirm Password" class="password">
                        <i class="bx bx-hide eye-icon"></i>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div>

                    <div class="field button-field">
                        <button  (click)="register()">SignUp</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Already have an account? <a routerLink="/login">Login</a></span>
                </div>
            </div>
        </div>
    </section>
</body>