<p>form works!</p>
<body>
    <div class="form-container">
        <h2>Ticket Booking Form</h2>
        <form id="ticketForm">
            <div class="form-group">
                <label for="fromStation">From Station:</label>
                <input type="text" id="fromStation" name="fromStation" [(ngModel)]="formval.fromStation" required>
            </div>
            <div class="form-group">
                <label for="toStation">To Station:</label>
                <input type="text" id="toStation" name="toStation" [(ngModel)]="formval.toStation" required>
            </div>
            <div class="form-group">
                <label for="numTickets">Number of Tickets:</label>
                <input type="number" id="numTickets" name="numTickets" [(ngModel)]="formval.nooftickets" required>
            </div>
            <div class="form-group">
                <label for="ticketPrice">Ticket Price:</label>
                <input type="number" id="ticketPrice" name="ticketPrice"[(ngModel)]="formval.ticketprice" required>
            </div>
            <div class="form-group">
                <label for="totalPrice">Total Price:</label>
                <input type="text" id="totalPrice" name="totalPrice"[(ngModel)]="formval.totalprice" required>
            </div>
            <div class="form-group">
                <button class="btn btn-success" (click)="submit()">submit</button>
            </div>
        </form>
        <div *ngIf="qrCodeUrl">
            <img [src]="qrCodeUrl" alt="QR Code">
        </div>