<div style="width:500px">
    <div>
        <label for="fromStation">From Station:</label>
        <input type="text" id="fromStation" [(ngModel)]="fromStation" />
    </div>
    <div>
        <label for="toStation">To Station:</label>
        <input type="text" id="toStation" [(ngModel)]="toStation" />
    </div>
    <div>
        <label for="fare">Fare:</label>
        <input type="number" id="fare" [(ngModel)]="fare" />
    </div>
    <div>
        <label for="duration">Duration:</label>
        <input type="number" id="duration" [(ngModel)]="duration" />
    </div>
    <div>
        <label for="distance">Distance:</label>
        <input type="number" id="distance" [(ngModel)]="distance" />
    </div>
    <button (click)="registerMetro()">Register Metro</button>
</div>